@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #09090b; /* zinc-950 */
  color: #e4e4e7;            /* zinc-200 */
}

/* Тонкая кастомная полоса прокрутки */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #14b8a6;
}
